/data/01_Base_Data/history_weather_freiburg_28Sep2020_19Sep_2020_test.pkl
/data/01_Base_Data/history_weather_mannheim_28Sep2020_19Sep_2020_test.pkl
/data/01_Base_Data/history_weather_ravensburg_28Sep2020_19Sep_2020_test.pkl
/data/01_Base_Data/history_weather_stuttgart_28Sep2020_19Sep_2020_test.pkl
/data/01_Forecast_Validation_Data/Prognostizierte_Erzeugung_202109290000_202109302359.csv
/data/01_Forecast_Validation_Data/Realisierte_Erzeugung_202109290000_202109302359.csv
/data/01_Forecast_Validation_Data/Realisierte_Erzeugung_202110050000_202110052359.csv
/img/Solarvorhersage_04_10_22h.png
/img/Solarvorhersage_05_10_22h.png
/img/Solarvorhersage_07_10_22h.png
/img/Windvorhersage_04_10_22h.png
/img/Windvorhersage_05_10_22h.png
/img/Windvorhersage_07_10_22h.png
/data/01_Base_Data/history_erzeugung_bw_28Sep2020_19Sep_2020.pkl
/data/01_Base_Data/history_weather_freiburg_28Sep2020_19Sep_2020.pkl
/data/01_Base_Data/history_weather_mannheim_28Sep2020_19Sep_2020.pkl
/data/01_Base_Data/history_weather_ravensburg_28Sep2020_19Sep_2020.pkl
/data/01_Base_Data/history_weather_stuttgart_28Sep2020_19Sep_2020.pkl
/data/01_Base_Data/Realisierte_Erzeugung_202009270000_202109202359.csv
